.navigation {
    height: 5rem;
    width: 100vw;
}

.navigation__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_brand {
    margin: 0 0 0 5rem;
}

.nav_menu {
    list-style-type: none;
    margin: 0 5rem 0 0;
    padding: 0;
    overflow: hidden;
}

.nav_menu__item{
    display: inline;
    float: right;
}

.nav_menu__link{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.header_border__bottom {
    position: relative;
    top: -1vh;
    width: 100vw;

    border-bottom: 2vh solid transparent;
    -moz-border-image: -moz-linear-gradient(top, #08AEEA 0%, #2AF598 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #08AEEA 0%, #2AF598 100%);
    border-image: linear-gradient(to right, #08AEEA 0%, #2AF598 100%);
    border-image-slice: 1;
}


.nav_user_menu__btn {
    background-color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 14px 16px;
}


.navigation_user__dropdown_content {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99;

    a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
    }
}

.navigation_user__info {
    height: 5rem;
    display: flex;
    background-image: linear-gradient(to right, #08AEEA 0%, #2AF598 100%);

    .profile_thumb{
        border-radius: 5px;
        margin: 5px;
    }

    > h3 {
        font-size: 1rem;
    }
}