.navigation {

    height: 5rem;
    border-bottom: 1px solid black;
    width: 100vw;
}

.navigation__section {
    display: flex;
}

.navbar_brand {

}

.nav_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav_menu__item{
    display: inline;
    float: right;
}

.nav_menu__link{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}